<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div>
  <% if logged_in? %>
    <%= button_to 'Logout', session_url, method: :delete %>
  <% else %>
    <a href="<%= new_session_url %>">Sign in</a>
    <a href="<%= new_user_url %>">Sign up</a>
  <% end %> 
  <div> 
  
  <h1>Music App</h1>
  <body>
    <%= yield %>
  </body>
</html>
